<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Klaus about Page</title>
    
</head>
<body>

    <h2>About</h2>  

{{> myPartials}}

    <img class="klausi" src="images/KlausWilliam.jpeg" alt="cat">
   <p> 
    <ul>
        <li> Klaus is two years old</li>
        <li> He is a Holy Birma </li>
        <li> He loves to cuddle</li>
    </ul>

    </p>

</body>
</html>