<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Klaus Website</title>
</head>
<body>
<header> 
    <a href="/">Home</a> <br>
       <a href="/about">About Klaus</a> <br>
     <a href="/PhotoGallery">Photos of Klaus</a> <br>
      <a href="/Works">Life Works of Klaus</a> <br> 
</header>
<div id="main Container">

 {{{body}}}

</div>

<footer> This is a footer </footer>
   
</body>
</html>