body {
    background-color: rgb(199, 150, 244);
}


.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .klaus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
  }

  .klausi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
  }

  .homestyle {
      padding-bottom: 10px;
  }

  footer {
      font-size: 10px;
        }